:root {
  --mainBlue : blue;
  --lightBlue : skyblue;
  --mainWhite:	#E5E7E9 ;
  --mainDark : #232528;
  --mainYellow: hsla(32, 71%, 56%, 0.882);
  
}
body {
  font-family: 'Oswald', sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
color: var(--mainBlue);
}
.text-bright {
color: var(--lightBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8 !important;
  color: var(--mainDark);
  border-radius: 0rem !important;
  border : 0.1rem solid var(--mainDark) !important;
}
.btn-black :hover {
  background: var(--mainDark);
  color: var(--mainWhite)!important;
}
.cart-icon{
  cursor : pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}